<div class="jumbotron">
    <h1>GITHUB-SEARCH</h1>
    <h3>Github search App try search your username and see.</h3>


    <div class="nush">
        <nav class="navbar navbar-dark bg-dark" id="male">
            <div class="row">
                <div class="col-md-6">
                    <form action="" class="search-bar">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="search" [(ngModel)]="username"
                                name="username" (keyup)="findProfile()">
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>




    <div *ngIf="profile">

        <link rel="stylesheet" href="./profile.component.css">
        <div class="row">
            <div class="col-md-4">
                <img src="{{profile.avatar_url}}" class="rounded-circle" alt="my image">
                <p class="text-center"> {{profile.login}}</p>

                <ul>
                    <li class="List-group-item" *ngIf="profile.bio">{{profile.bio}}</li>

                </ul>
                <p><span class="label label-default">Followers: {{profile.followers}} </span></p>
                <p> <span class="label label-success"> Following: {{profile.following}}</span></p>
                <p><span class="label label-default">Repos: {{profile.public_repos}} </span></p>
                <button class="davy">
                    <p><a href="{{profile.html_url}}" targe="blank" class="btn btn-successs btn-sm">view profile
                            on github</a></p>
                </button>
            </div>





            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Repos</h1>
                        <div *ngFor='let repo of repos'>
                            <div class="container card-column">
                                <h5 class="card-header">{{repo.name}}</h5>
                                <div class="card-body">
                                    <h5 class="card-title">{{repo.date}}</h5>
                                    <p class="card-text">{{repo.description}}</p>
                                    <a href="{{repo.html_url}}" target="_blank" class="btn btn-success btn-sm">view
                                        project on
                                        github
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>




        </div>
    </div>
</div>
